{{!-- Bookmark Menu --}}
<div class="bookmark-menu">
  {{!-- Bookmark Header --}}
  <header class="bookmark-menu__header">
    Bookmarks
  </header>

  {{!-- Bookmark Content --}}
  <section class="bookmark-menu__content">
    <ul class="bookmark-menu__list"></ul>
  </section>

  {{!-- Bookmark Footer --}}
  <footer class="bookmark-menu__footer">
    <button class="button is-block is-ghost">View All</button>
  </footer>
</div>