{{!-- Bookmark Menu --}}
<div class="bookmark-menu">
  {{!-- Bookmark Header --}}
  <header class="bookmark-menu__header">
    <span>Bookmarks</span>
    <button class="button is-ghost" data-bookmark-action="clear">
      <span class="ion ion-trash-b"></span>
    </button>
  </header>

  {{!-- Bookmark Content --}}
  <section class="bookmark-menu__content">
    <ul class="bookmark-menu__list"></ul>
  </section>

  {{!-- Bookmark Footer --}}
  <footer class="bookmark-menu__footer">
    <a class="button is-block is-ghost" href="{{@blog.url}}bookmarks">View All</a>
  </footer>
</div>