<div class="bookmark-menu">
  <header class="bookmark-menu__header">
    Bookmarks
  </header>
  <section class="bookmark-menu__content">
    <ul class="bookmark-menu__list">
      <li class="bookmark-menu__list-item">
        No post have been saved.
      </li>
      {{!-- <li class="bookmark-menu__list-item">
        <div class="bookmark-menu__list-content">
          <h6><a href="#">Typography</a></h6>
          <p>Cupcake ipsum dolor sit. Amet croissant gingerb lemon drops lollipop cake sesame snaps. I love gummi bears dragée powder.</p>
        </div>
        <a class="bookmark-menu__list-delete" href="#delete">
          <span class="ion ion-close-circled"></span>
        </a>
      </li>
      <li class="bookmark-menu__list-item">
        <div class="bookmark-menu__list-content">
          <h6><a href="#">Typography</a></h6>
          <p>Cupcake ipsum dolor sit. Amet croissant gingerb lemon drops lollipop cake sesame snaps. I love gummi bears dragée powder.</p>
        </div>
        <a class="bookmark-menu__list-delete" href="#delete">
          <span class="ion ion-close-circled"></span>
        </a>
      </li> --}}
    </ul>
  </section>

  <footer class="bookmark-menu__footer">
    <button class="button is-block is-ghost">View All</button>
  </footer>
</div>