<header class="header">
  <div class="container">
    {{> logo}}

    {{navigation}}

    <nav class="navigation" role="navigation">
      <ul class="navigation__menu" role="menu">
        <li class="navigation__item" role="presentation" style="position: relative;">
          <button data-bookmark-action="open" class="button is-outline is-round">
            <span class="ion ion-bookmark"></span>
          </button>
          {{> bookmark-menu}}
        </li>
      </ul>
    </nav>
  </div>
</header>