<nav class="navigation" role="navigation">
  <ul class="navigation__menu" role="menu">
    {{#foreach navigation}}
      <li
        class="navigation__item navigation__item--{{slug}}{{#if current}} is-active{{/if}}"
        role="presentation"
      >
        <a class="navigation__link" href="{{url absolute="true"}}">{{label}}</a>
      </li>
    {{/foreach}}
  </ul>

</nav>