<nav class="pagination" role="navigation">
  <div class="button-group">
    {{!-- {{#if prev}} --}}
        <a class="button {{#unless prev}}button--disabled{{/unless}}" disabled="{{#unless prev}}disabled{{/unless}}" {{#if prev}}href="{{page_url prev}}"{{/if}} id="pagination-left"><span class="icon ion-arrow-left-c"></span></a>
    {{!-- {{/if}} --}}
    {{!-- {{#if next}} --}}
        <a class="button {{#unless next}}button--disabled{{/unless}}" disabled="{{#unless next}}disabled{{/unless}}" {{#if next}}href="{{page_url next}}"{{/if}} id="pagination-right"><span class="icon ion-arrow-right-c"></span></a>
    {{!-- {{/if}} --}}
  </div>
</nav>