<div class="powered-by">
  <div class="powered-by__thumbnail">
    <img alt="Permissive - Minimalist Ghost Blogging Theme" src="{{asset "images/logo.css"}}" />
  </div>
  <div class="powered-by__content">
    <div class="powered-by__meta">Proudly published with</div>
    <h6 class="powered-by__title">
      <a href="https://ghost.org" target="_blank">Ghost</a> + <a href="https://andytran.me/permissive" target="_blank">Permissive</a>
    </h6>
  </div>
</div>