<a class="powered-by" href="https://andytran.me/permissive" target="_blank">
  <div class="powered-by__thumbnail">
    <img alt="Permissive - Minimalist Ghost Blogging Theme" src="{{asset "images/logo.css"}}" />
  </div>
  <div class="powered-by__content">
    <div class="powered-by__meta">Powered by</div>
    <h6 class="powered-by__title">Permissive</h6>
  </div>
</a>