<nav class="navigation is-social" role="navigation">
  <ul class="navigation__menu" role="menu">
    <li class="navigation__item" role="presentation">
      <a class="navigation__link" href="https://facebook.com">
        <i class="ion ion-social-facebook"></i>
      </a>
    </li>

    <li class="navigation__item" role="presentation">
      <a class="navigation__link" href="https://facebook.com">
        <i class="ion ion-social-github"></i>
      </a>
    </li>

    <li class="navigation__item" role="presentation">
      <a class="navigation__link" href="https://facebook.com">
        <i class="ion ion-social-rss"></i>
      </a>
    </li>
  </ul>
</nav>