<nav class="nav nav--social">
  <ul class="nav__menu">
    {{!-- Facebook --}}
    {{!-- <li class="nav__item">
      <a href="#" target="_blank">
        <span class="icon icon--facebook"></span>
      </a>
    </li> --}}

    {{!-- Instagram --}}
    {{!-- <li class="nav__item">
      <a href="#" target="_blank">
        <span class="icon icon--instagram"></span>
      </a>
    </li> --}}

    {{!-- Twitter --}}
    {{!-- <li class="nav__item">
      <a href="#" target="_blank">
        <span class="icon icon--twitter"></span>
      </a>
    </li> --}}

    {{!-- Github --}}
    {{!-- <li class="nav__item">
      <a href="#" target="_blank">
        <span class="icon icon--github"></span>
      </a>
    </li> --}}

    {{!-- CodePen --}}
    {{!-- <li class="nav__item">
      <a href="#" target="_blank">
        <span class="icon icon--codepen"></span>
      </a>
    </li> --}}

    {{!-- Dribbble --}}
    {{!-- <li class="nav__item">
      <a href="#" target="_blank">
        <span class="icon icon--dribbble"></span>
      </a>
    </li> --}}

    {{!-- Behance --}}
    {{!-- <li class="nav__item">
      <a href="#" target="_blank">
        <span class="icon icon--behance"></span>
      </a>
    </li> --}}

    {{!-- YouTube --}}
    {{!-- <li class="nav__item">
      <a href="#" target="_blank">
        <span class="icon icon--youtube"></span>
      </a>
    </li> --}}

    {{!-- Vimeo --}}
    {{!-- <li class="nav__item">
      <a href="#" target="_blank">
        <span class="icon icon--vimeo"></span>
      </a>
    </li> --}}

    {{!-- YouTube --}}
    {{!-- <li class="nav__item">
      <a href="#" target="_blank">
        <span class="icon icon--youtube"></span>
      </a>
    </li> --}}
  </ul>
</nav>
