<form class="form">
  <label
    class="form__label"
    for="subscribe"
  >
    Subscribe to Newsletter
  </label>

  <div class="form__group">
    <input
      class="input"
      id="subscribe"
      placeholder="Email Address"
      type="email"
      required
    />
    <button
      class="button button--primary"
      type="submit"
    >
      Subscribe
    </button>
  </div>
</form>