@import 'helpers/variables';
@import 'helpers/colors';
@import 'helpers/fonts';
@import 'helpers/functions';
@import 'helpers/mixins';

@import 'vendors/normalize';

body,
html {
  height: 100%;
}

@import 'base/typography';

@import 'components/loading';
@import 'components/author';
@import 'components/article';
@import 'components/button';
@import 'components/fab';
@import 'components/input';
@import 'components/select';
@import 'components/textarea';
@import 'components/subscribe';
@import 'components/third-party-block';
@import 'components/nav';
@import 'components/navigation';
@import 'components/project';
@import 'components/social-share';
@import 'components/tabs';
@import 'components/widget';

@import 'layout/content';
@import 'layout/button-group';
@import 'layout/form';
@import 'layout/page';
@import 'layout/post';
@import 'layout/sidebar';

@import 'pages/home';
@import 'pages/projects';
