// Helpers
@import './helpers/colors';
@import './helpers/fonts';
@import './helpers/functions';

body,
html {
  height: 100%;
  margin: 0;
}

body {
  background: #FAFAFA;
}

.container {
  width: 100%;
  max-width: 1140px;
  padding: 0 80px;
  box-sizing: border-box;
}

@import './base/typography';

@import './modules/navigation';
@import './modules/footer';
