// Helpers
@import './helpers/colors';
@import './helpers/fonts';
@import './helpers/functions';

body,
html {
  height: 100%;
  margin: 0;
}

body {
  background: #FAFAFA;
}

.container {
  width: 100%;
  max-width: 1440px;
  padding: 0 80px;
  box-sizing: border-box;

  @media (max-width: 768px) {
    padding: 0 20px;
  }
}

@import './base/typography';

@import './modules/button';
@import './modules/card';
@import './modules/header';
@import './modules/input';
@import './modules/logo';
@import './modules/navigation';
@import './modules/footer';

.kg-width-wide,
.kg-width-full,
.kg-gallery-container,
.kg-gallery-row,
.kg-gallery-image {
  color: inherit;
  // required by gcsan to properly validate the theme
}
