{{!< default}}

<main
  class="content"
  id="content"
  role="main"
  {{#if @blog.cover}}
    style="background: url({{@blog.cover}}) center no-repeat fixed; background-size: cover;"
  {{/if}}
>
  <div class="page__container">
    <header class="page__header">
      <h1 class="page__title">Projects</h1>
    </header>

    <div class="project-grid">
      {{#if @labs.publicAPI}}
        {{!-- <div class="loading"></div> --}}
      {{else}}
        <p>You need to enable the <a href="{{@blog.url}}/ghost/settings/labs/">Public API</a> feature in your dashboard to use this feature.</p>
      {{/if}}
    </div>
    {{!-- <div class="pagination">
      <div class="button-group">
        <button class="button">
          <span class="icon ion-arrow-left-c"></span>
        </button>
        <button class="button button--disabled" disabled>1</button>
        <button class="button">2</button>
        <button class="button">3</button>
        <button class="button">
          <span class="icon ion-arrow-right-c"></span>
        </button>
      </div>
    </div> --}}
  </div>
</main>