{{!< layout/default}}
{{!-- The tag above means - insert everything in this file into the {body} of the default.hbs template --}}

{{!-- Post Content --}}
{{#post}}
  <main
    class="content"
    id="content"
    role="main"
  >
    <div class="post">
      <article class="article" id="{{id}}-{{slug}}">
        <header class="article__header">
          <h1 class="article__title">{{title}}</h1>
        </header>

        <section class="article__content">
          {{content}}
        </section>
      </article>

      {{> site-footer}}
    </div>
  </main>
{{/post}}
