{{!< default}}

<main
  class="content"
  id="content"
  role="main"
  {{#if @blog.cover}}
    style="background: url({{@blog.cover}}) center no-repeat fixed; background-size: cover;"
  {{/if}}
>
  <div class="page__container">
    <header class="page__header">
      <h1 class="page__title">Projects</h1>
    </header>

    <div class="project-grid">
      {{#if @labs.publicAPI}}
      {{else}}
        <p>You need to enable the <a href="{{@blog.url}}/ghost/settings/labs/">Public API</a> feature in your dashboard to use this feature.</p>
      {{/if}}
    </div>
    {{!-- <div class="project-grid">
      <div class="project">
        <header class="project__header">
          <h5 class="project__title">Lorem ipsum dolor sit amet.</h5>
          <h6 class="project__sub-title">CASE STUDY</h6>
        </header>
        <div class="project__thumbnail">
          <img src="/assets/images/thumbnail.jpg" />
        </div>
        <div class="project__content">
          <p class="project__excerpt">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Scaevola tribunus plebis ferret ad plebem vellentne de ea re quaeri.</p>
          <a class="button" href="#">
            <span>Read More</span>
            <span class="icon ion-arrow-right-c" style="font-size: 0.625rem;"></span>
          </a>
        </div>
      </div>
    </div> --}}
  </div>
</main>