// Font
$fonts: (
  body: (Droid Serif, sans-serif),
  header: (-apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif),
);

// Font Weight
$font-weights: (
  thin: 100,
  light: 300,
  regular: 400,
  medium: 500,
  semibold: 600,
  bold: 700,
  heavy: 800
);
