.page-template-blog {
  .blog-grid {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 900px;
    margin: 0 auto;
  }

  .article {
    border: 1px solid $border-color;
    margin: 0 0 60px;
    padding: 60px 100px;

    &__header {
      margin: 0 0 20px;
    }

    &__thumbnail {
      margin-bottom: 20px;
    }

    &__title {
      margin: 0;
      font-size: rem(30);
    }

    &__content {
      margin: 0;
      filter: grayscale(100%);

      &,
      * {
        cursor: default;
      }
    }

    &__footer {
      border: 0;
      margin: 40px 0 0;
      padding: 0;
    }

    &:last-child {
      margin: 0;
    }
  }
}
