.page-template-blog {
  .blog-grid {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 900px;
    margin: 0 auto;
  }

  .article {
    border-bottom: 1px solid $border-color;
    margin: 0 0 60px;
    padding-bottom: 60px;

    &__header {
      margin: 0 0 20px;
    }

    &__thumbnail {
      margin-bottom: 20px;
    }

    &__title {
      margin: 0;
      font-size: rem(30);
    }

    &__content {
      margin: 0;
    }

    &:last-child {
      border-bottom: 0;
      margin: 0;
    }
  }
}
