.project {
  background: $white;
  border: 1px solid $border-color;
  border-radius: 2px;
  box-sizing: border-box;
  overflow: hidden;

  &__header {
    display: flex;
    flex-direction: column;
    margin: 0 0 20px;
    padding: 20px 20px 0;
  }

  &__thumbnail {
    margin: 0 0 20px;
  }

  &__title {
    order: 2;
    margin: 0;

    a {
      text-decoration: none;
    }
  }

  &__sub-title {
    order: 1;
    margin: 0 0 10px;
    color: $text-secondary;
    font-size: rem(12);

    a {
      color: inherit;
      text-decoration: none;
    }
  }

  &__content {
    padding: 0 20px 20px;
  }
}
