.article {
  max-width: 700px;
  margin: 0 auto;
  font-size: rem(18);

  &__header {
    margin: 0 0 60px;

    time {
      margin: 0 0 20px;
      font-family: $header-font;
      font-size: rem(12);
      font-weight: $font-medium;
      text-transform: uppercase;
    }
  }

  &__sub-title {
    color: $text-body;
    font-family: $body-font;
  }

  &__thumbnail {
    border-radius: 2px;
    margin: 0 -100px 60px;
    overflow: hidden;
  }

  &__content {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin: 40px 0 20px;
    }

    a:not(.button) {
      color: inherit;
    }

    img {
      width: calc(100% + 200px);
      max-width: none;
      margin: 60px -100px;
    }

    p {
      line-height: rem(32);
    }
  }
}
