
.button {
  display: inline-block;
  background: $white;
  height: 40px;
  border: 0;
  border-radius: 2px;
  box-shadow: inset 0 0 0 1px $border-color;
  padding: 0 20px;
  box-sizing: border-box;
  color: $text-body;
  font-family: $header-font;
  font-size: rem(14);
  font-weight: $font-medium;
  line-height: rem(40);
  text-align: center;
  text-decoration: none;
  cursor: pointer;

  &--block {
    display: block;
  }

  &--primary {
    background: $accent;
    box-shadow: inset 0 0 0 1px rgba($black, 0.1), 0 2px 0 rgba($accent, 0.2);
    color: $white;
  }
}
