.button {
  display: inline-block;
  background: $white;
  height: 40px;
  border: 0;
  border-radius: 2px;
  box-shadow: inset 0 0 0 1px $border-color;
  padding: 12px 20px;
  box-sizing: border-box;
  color: $text-primary;
  font-family: $header-font;
  font-size: rem(14);
  font-weight: $font-medium;

  &--primary {
    background: $accent;
    box-shadow: inset 0 0 0 1px rgba($black, 0.1), 0 2px 0 rgba($accent, 0.2);
    color: $white;
  }
}
