.form {
  display: flex;
  align-items: center;
  flex-direction: column;

  &__group {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    * {
      margin: 0 5px;

      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }
}
