.loading {
  background: transparent;
  width: 16px;
  height: 16px;
  border: 3px solid $accent;
  border-top: 3px solid transparent;
  border-radius: 100%;
  animation: spin 0.6s infinite;
}

.loading-bar {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  background: $accent;
  width: 0%;
  height: 3px;
  pointer-events: none;
}

@keyframes spin {
  to {
    transform: rotate(1turn);
  }
}
