.navigation {
  position: fixed;
  top: 60px;
  left: 60px;

  > .fab {
    margin: 0 0 10px;
  }

  &__menu {
    display: none;
    align-items: center;
    flex-direction: column;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__item {
    display: block;
    margin: 0 0 10px;
    padding: 0;
    counter-increment: navigation;

    .fab {
      position: relative;

      &:before {
        content: counter(navigation, lower-roman);
      }
    }

    &--active {
      .navigation__label {
        color: $text-primary;
      }
    }
  }

  &__label {
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translateX(10px) translateY(-50%);
    color: $text-body;
  }

  &--active {
    .navigation__menu {
      display: flex;
    }
  }
}
