.navigation {
  z-index: 1;
  position: fixed;
  top: 60px;
  left: 60px;

  > .fab {
    margin: 0 0 10px;
  }

  &__menu {
    display: none;
    align-items: center;
    flex-direction: column;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__item {
    display: block;
    margin: 0 0 10px;
    padding: 0;
    counter-increment: navigation;

    .fab {
      position: relative;

      &:before {
        content: counter(navigation, upper-roman);
      }
    }

    &--active {
      .navigation__label {
        color: $text-primary;
      }
    }
  }

  &__label {
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translateX(10px) translateY(-50%);
    color: $text-body;
  }

  &--active {
    .navigation__menu {
      display: flex;
    }
  }

  @media (max-width: 768px) {
    z-index: 2;
    top: auto;
    bottom: 0;
    left: 0;
    background: $white;
    width: 100%;
    height: 60px;
    border-top: 1px solid $border-color;

    .fab--large {
      display: none;
    }

    &__menu {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      height: 100%;
    }

    &__item {
      width: 100%;
      height: 100%;
      margin: 0;

      .fab {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        background: none;
        width: 100%;
        height: 100%;
        box-shadow: none;
        line-height: normal;
        text-align: center;

        &:before {
          display: block;
          background: $text-body;
          width: 24px;
          height: 24px;
          border-radius: 100%;
          margin: 0 0 4px;
          font-size: rem(10);
          line-height: rem(24);
          text-align: center;
        }
      }

      &--active {
        .fab {
          &:before {
            background: $accent;
          }
        }

        .navigation__label {
          color: $accent;
        }
      }
    }

    &__label {
      position: relative;
      top: auto;
      left: auto;
      transform: none;
      font-size: rem(10);
    }
  }
}
