.subscribe {
  background: $white;
  border: 1px solid $border-color;
  border-radius: 2px;
  padding: 40px;
  box-sizing: border-box;
  text-align: center;

  &__header {
    margin: 0 0 20px;
  }

  &__title {
    margin: 0 0 10px;
  }

  &__content {
    .form {
      display: inline-block;
      margin: 0 auto 10px;

      &__group {
        @media (max-width: 600px) {
          flex-direction: column;
          width: 100%;

          * {
            width: 100%;
            margin: 0 0 10px;

            &:last-child {
              margin: 0;
            }
          }
        }
      }
    }
  }

  &__footer {
    color: $text-secondary;
    font-size: rem(12);
  }

  @media (max-width: 600px) {
    flex-direction: column;
    background: #FAFAFA;
    border-right: 0;
    border-left: 0;
    border-radius: 0;
    padding: 60px 60px 50px;
  }
}
