html {
  font-size: 16px;
}

body {
  color: $text-body;
  font-family: $body-font;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
  line-height: 26px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 20px;
  color: $text-primary;
  font-family: $header-font;
  font-weight: $font-bold;
}

h1 {
  font-size: rem(60);
  letter-spacing: -1.5px;
  line-height: rem(71);
}
