.page-template-projects {
  .project-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 900px;
    margin: 0 auto 60px;
  }

  .project {
    width: calc(33% - 11px);
    margin: 0 10px 20px;
    box-sizing: border-box;

    &:nth-child(3n - 2) {
      margin-left: 0;
    }

    &:nth-child(3n) {
      margin-right: 0;
    }
  }
}
