.home-template {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

  .content {
    position: relative;
    width: calc(100% - #{$sidebar-width});

    @media (max-width: 1024px) {
      width: 100%;
      max-height: 600px;
    }
  }

  .site-info {
    position: fixed;
    bottom: 60px;
    left: 60px;
    max-width: 400px;

    &__title {
      margin: 0 0 10px;
      font-size: rem(60);
      font-weight: $font-bold;
      letter-spacing: -1.5px;

      @media (max-width: 1024px) {
        font-size: rem(40);
      }
    }

    &__description {
      display: block;
      margin: 0;
      color: $text-secondary;
      font-size: rem(24);
      line-height: rem(32);

      @media (max-width: 1024px) {
        font-size: rem(20);
      }
    }

    @media (max-width: 1024px) {
      position: absolute;
      // top: 60px;
      // left: 60px;
      max-width: 300px;
    }
  }

  .nav--social {
    margin: 20px 0 0;
  }

  @media (max-width: 1024px) {
    display: block;
  }
}
