.fab {
  display: block;
  background: $white;
  width: 40px;
  height: 40px;
  border: 0;
  border-radius: 100px;
  box-shadow: inset 0 0 0 1px $border-color;
  box-sizing: border-box;
  color: $text-primary;
  font-family: $header-font;
  font-size: rem(14);
  font-weight: $font-medium;
  line-height: rem(40);
  text-align: center;
  text-decoration: none;
  cursor: pointer;

  &--large {
    width: 56px;
    height: 56px;
  }

  &--primary {
    background: $accent;
    box-shadow: inset 0 0 0 1px rgba($black, 0.1), 0 2px 0 rgba($accent, 0.2);
    color: $white;
  }
}
