.form {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;

  &__label {
    width: 100%;
    margin: 0 0 10px;
    color: $text-secondary;
    font-family: $header-font;
    font-size: rem(12);
    font-weight: $font-medium;
    line-height: normal;
    text-transform: uppercase;
  }

  &__group {
    display: flex;
    align-items: flex-end;
    flex-direction: row;
    width: 100%;

    &:last-of-type,
    &:last-child {
      margin: 0;
    }

    * {
      margin: 0 10px;

      &:first-child {
        margin-left: 0;
      }

      &:only-child {
        margin: 0;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }

  * {
    margin: 0 0 20px;
  }
}
