.page {
  &__container {
    background: rgba($white, 0.98);
    width: calc(100% - 88px);
    height: 100%;
    margin: 0 0 0 auto;
    padding: 120px 60px 40px;
    box-sizing: border-box;
    overflow-y: auto;

    @media (max-width: 768px) {
      width: 100%;
    }
  }

  &__header {
    max-width: 700px;
    margin: 0 auto 40px;
  }

  &__title {
    color: $text-primary;
    font-size: rem(40);
    font-weight: $font-bold;
    line-height: rem(48);
  }

  &__description {
    color: $text-secondary;
    font-size: rem(18);
  }

  .pagination {
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
  }
}
