.post {
  position: relative;
  background: rgba($white, 0.98);
  width: calc(100% - 88px);
  height: 100%;
  box-shadow: inset 1px 0 0 $border-color;
  margin: 0 0 0 auto;
  padding: 120px 0 40px;
  box-sizing: border-box;
  overflow-y: auto;

  @media (max-width: 768px) {
    width: 100%;
    padding: 60px 0 0;
  }
}
