// Helpers
@import '../helpers/colors';
@import '../helpers/fonts';
@import '../helpers/functions';

// Article (Block)
.post {
  background: $white;
  width: 80%;
  max-width: 960px;
  border-radius: 6px;
  box-shadow: 0 2px 5px rgba($black, 0.05);
  margin: 0 auto 40px;
}

// Article (Elements)
.post {
  &__header {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-size: cover;
    height: 400px;
    border-bottom: 1px solid #F6F6F6;
    border-radius: 6px 6px 0 0;
    padding: 40px;
    box-sizing: border-box;
    text-align: center;
    overflow: hidden;
  }

  &__label {
    background: map-get($theme-colors, primary);
    height: 24px;
    border-radius: 4px;
    margin: 0 0 40px;
    padding: 0 10px;
    color: $white;
    font-family: map-get($fonts, header);
    font-size: rem(10);
    font-weight: map-get($font-weights, bold);
    line-height: 24px;
    text-transform: uppercase;
  }

  &__title {
    max-width: 540px;
    margin: 0 0 40px;
    text-align: center;
  }

  &__date {
    font-family: map-get($fonts, header);
    font-weight: map-get($font-weights, medium);
  }

  &__content {
    padding: 80px 120px;
  }
}

// Article (Modifiers)
.post {
  &.has-thumbnail {
    .post {
      &__header {
        position: relative;
        color: $white;

        &:before {
          content: '';
          z-index: 1;
          position: absolute;
          display: block;
          background: rgba(#333333, 0.5);
          width: 100%;
          height: 100%;
        }

        * {
          z-index: 2;
        }
      }

      &__title {
        color: inherit;
      }
    }
  }
}



@media (max-width: 768px) {
  .header {
    margin: 0;
  }

  .post {
    width: 100%;
    margin: 0;

    &,
    &__header {
      border-radius: 0;
    }

    &__content {
      padding:   80px;
    }
  }
}