.footer {
  background: $white;
  box-shadow: 0 2px 5px rgba($black, 0.05);
  font-size: rem(13);

  &__main {
    padding: 60px 0;
  }

  &__bottom {
    height: 80px;
    border-top: 1px solid #F6F6F6;

    &,
    .container {
      display: flex;
      align-items: center;
      flex-direction: row;
      justify-content: center;
    }
  }

  &__copyright {
    margin: 0 20px;
    font-family: map-get($fonts, header);

    a {
      color: map-get($text-colors, primary);
      font-weight: map-get($font-weights, medium);
      text-decoration: none;
    }
  }
}
