.footer {
  background: $white;
  box-shadow: 0 2px 5px rgba($black, 0.05);
  font-size: rem(13);

  &__top,
  &__main,
  &__bottom {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
  }

  &__top,
  &__main {
    border-bottom: 1px solid #F6F6F6;
  }

  &__main {
    padding: 60px 0;

    .navigation {
      margin: 0 30px;
      font-weight: map-get($font-weights, medium);
    }
  }

  &__bottom {
    height: 80px;
  }

  &__copyright {
    margin: 0 20px;
    font-family: map-get($fonts, header);

    a {
      color: map-get($text-colors, primary);
      font-weight: map-get($font-weights, medium);
      text-decoration: none;
    }
  }

  .container {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
  }
}
